DOCTYPE
html(lang="en")
head
  meta(charset="UTF-8")
  title ROUTE: SIGN IN
  link(type="text/css", rel="stylesheet", href="routeStyle.css")


body

  h1 Hello! It's simple emailing service app. We send broadcast replies.

  div.authorizeDiv

    p Please, sign up

    input(id="user_email_input", type="text",
           placeholder="enter your email", name="email", autofocus)
    input(id="password_first", type="password",
           placeholder="enter your password")
    input(id="password_confirm", type="password",
               placeholder="re-type your password")
    input(id="signInButton", type="button",
           class="button", value="Sign in")


  script(src="signIn.js", defer)
