<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ROUTE: LOG IN</title>
  <link type="text/css" rel="stylesheet" href="routeStyle.css"/>
</head>

<body>

  <h1>Hello! It's simple emailing service app. We send broadcast replies.</h1>

  <div class="authorizeDiv">

    <p>Please, log in.</p>

     <input id="user_email_input" type="text"
            placeholder="enter your email" autofocus/>
     <input id="password_first" type="password"
            placeholder="enter your password"/>
     <input class="button" id="logInButton" type="button" value="Log in"/>
     <input class="button" id="signInButton" type="button" value="Sign in"/>

  </div>

  <script src="socket.io-1.2.0.js" defer></script>
  <script src="logIn.js" defer></script>

</body>
</html>
